/**
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
This css file is for login
Only for login, it has already anchored to the login.html
///////////////////////////////////////////////////////////
About comment:
-----------------------------------------------------------
====Content====
means that under this comment is a big class.
E.g.:
====media query====
@media 1 {}
@media 2 {}
-----------------------------------------------------------
++++Element++++:
means that under this comment are direct child elements.
E.g.:
++++Body++++
<header>
<main>
<nav>
<footer>
///////////////////////////////////////////////////////////
-----------------------------------------------------------
Note: 
The product reference for the mobile screen size is 430px * 932px
-----------------------------------------------------------
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* ====HTML==== */

/* ++++Body++++ */

.background {
  /* layout */
  height: 100vh;

  /* style */
  background-image: url("../images/icon/travel.jpg");
  background-size: cover;
}

.login {
  /* box */
  margin: 20vh auto auto auto;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

/* ++++Fieldset++++ */
.login-title {
  /* layout */
  text-align: center;
}

.form-group {
  /* layout */
  display: flex;
  flex-direction: column;

  /* box */
  margin: 5px 10px;
}

.col-sm-10 {
  /* box */
  padding: 5px;
  width: 100%;
}

/* ====Media Query==== */
@media (max-width: 700px) {
  body {
    /* layout */
    flex-direction: column;
  }

  body>div {
    padding: 20vw;
  }

  .background {
    background-position: left;
  }
}

@media (min-width: 701px) {
  .login {
    /* box */
    width: 400px;
  }

  .background {
    background-position: center;
  }
}