/**
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
This css file is for global use
Therefore be careful to use
///////////////////////////////////////////////////////////
About comment:
-----------------------------------------------------------
====Content====
means that under this comment is a big class.
E.g.:
====media query====
@media 1 {}
@media 2 {}
-----------------------------------------------------------
++++Element++++:
means that under this comment are direct child elements.
E.g.:
++++Body++++
<header>
<main>
<nav>
<footer>
///////////////////////////////////////////////////////////
-----------------------------------------------------------
Note: 
The product reference for the mobile screen size is 430px * 932px
-----------------------------------------------------------
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

/* ====Specific==== */
/* Color tone */
:root {
  --primary-bg-color: #FFF;
  --secondary-bg-color: #D9D9D9;
  --text-color: #000;
  --link-color: #000;
  }

.overflow {
  /* font */
  white-space: nowrap;
  overflow: auto;
  }

.initiallyHidden {
  display: none;
  }

.column {
  /* layout */
  display: flex;
  flex-direction: column;
  }

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.undecorated {
  /* box */
  padding: 0;
  margin: 0;
  /* font */
  text-decoration: none;
  list-style-type: none;
  /* style */
  background-color: transparent;
  border: none;
  }

.decoratedAnchor {
  color: #2757C3;
  text-decoration: underline;
  }

.decoratedAnchor:hover {
  color: #BD7FFF;
  }

a {
  color: var(--link-color);
  text-decoration: none;
  }

/* ====HTML==== */
html {
  overflow: hidden;
  }

/* ++++HTML++++ */
body {
  /* box */
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  }

main {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;

  /* style */
  background-image: url("../images/travel.jpg");
  background-size: cover;
  }

/* ++++Body++++ */
.footer {
  /* layout */
  display: none;
  z-index: 1000;

  /* box */
  height: 50px;
  width: 100%;
  background-color: #D9D9D9;
  }

/* ++++Navbar++++ */
.bottom-nav {
  /* layout */
  z-index: 1000;

  /* box */
  background-color: #D9D9D9;
  }

.bottom-nav ul {
  /* layout */
  display: grid;

  /* box */
  height: 60px;
  width: 100%;
  padding: 0;

  /* style */
  list-style: none;
  }

.bottom-nav li {
  /* layout */
  display: grid;
  place-items: center;

  /* box */
  height: 100%;
  width: 100%;
  }

.bottom-nav a {
  /* layout */
  display: flex;
  flex-direction: column;

  /* box */
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5px 0 10px 0;

  /* style */
  font-size: 10px;
  }

.bottom-nav-items:hover {
  /* box */
  background-color: #E0E0E0;
  }

.bottom-nav-items-anchor-icon {
  /* box */
  width: 25px;
  height: 25px;
  margin-bottom: 4px;
  }

.bottom-nav-items.active {
  background-color: #E0E0E0;
  }

/* ++++Footer++++ */
#language-select {
  /* layout */
  display: flex;
  place-items: center;
  /* box */
  position: relative;
  cursor: pointer;
  padding: 5px;
  margin: 0 50px;
  height: 100%;
  width: 100px;
  /* style */
  background-color: #F0F0F0;
  }

#language-select:hover {
  /* style */
  border: 2px solid #565E64;
  }

#language-list {
  /* box*/
  position: absolute;
  bottom: 100%;
  left: 50px;
  width: 100px;
  display: none;
  place-items: center;
  /* style */
  background-color: #FFF;
  }

.footer-language-list {
  /* box */
  width: 100%;
  }

.interlanguage-link {
  /* box */
  width: 100%;
  text-align: center;
  }

.interlanguage-link:hover {
  /* style */
  cursor: pointer;
  background-color: #E0E0E0;
  }

.footer-copyright {
  /* layout */
  display: inline-block;

  /* box */
  height: 100%;
  padding: 5px;
  }

.footer-copyright-icon {
  height: 100%;
  }

/* ====Media query==== */

/* Phone view */
@media (max-width: 700px) {

  /* ++++HTML++++ */
  body {
    /* layout */
    display: flex;
    flex-direction: column;
    }

  /* ++++Body++++ */

  /* ++++Navbar++++ */
  .bottom-nav {
    /* box */
    height: 60px;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

  .bottom-nav ul {
    /* layout */
    grid-template-columns: repeat(4, 1fr);
    }
  }

/* Computer view */
@media (min-width: 701px) {

  /* ++++HTML++++ */
  body {
    /* layout */
    display: grid;
    /* grid */
    /* navbar, content */
    grid-template-columns: min(15%, 180px) auto;
    /* navbar-content, footer */
    grid-template-rows: auto 50px;
    grid-template-areas:
      "bottom-nav-left content-right"
      "footer footer";

    /* box */
    height: 100vh;
    }

  /* ++++Body++++ */
  .content {
    /* layout */
    /* grid */
    grid-area: content-right;
    }

  .bottom-nav {
    /* layout */
    /* grid */
    grid-area: bottom-nav-left;

    /* box */
    background-color: #F0F0F0;
    }

  .footer {
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    /* grid */
    grid-area: footer;
    }
  }