/**
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
This css file is for history
///////////////////////////////////////////////////////////
About comment:
-----------------------------------------------------------
====Content====
means that under this comment is a big class.
E.g.:
====media query====
@media 1 {}
@media 2 {}
-----------------------------------------------------------
++++Element++++:
means that under this comment are direct child elements.
E.g.:
++++Body++++
<header>
<main>
<nav>
<footer>
///////////////////////////////////////////////////////////
-----------------------------------------------------------
Note:
The product reference for the mobile screen size is 430px * 932px
-----------------------------------------------------------
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

/* ====HTML==== */

/* ++++Body++++ */

/* ++++Main++++ */
.historySelectContainer {
  /* layout */
  display: flex;
  flex-direction: column;

  /* box */
  width: 80%;
  height: 100%;

  /* style */
  background-color: rgba(255, 255, 255, 0.8);
  }

.historySelectContainer > div {
  /* layout */
  width: 100%;
  }

.selectBtn {
  /* layout */
  display: flex;
  align-items: center;

  /* box */
  padding: 10px;
  width: 100%;
  height: 3em;

  /* style */
  background-color: #EFEFEF;
  border-bottom: 1px solid #000;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  }

.selectBtn:hover {
  /* style */
  background-color: #D6D6D6;
  cursor: pointer;
  }

.iconSelect {
  transform: rotate(180deg);
  }

.historyContainer {
  /* layout */
  flex-direction: column;
  align-items: center;
  height: 100%;
  }

.historyContext {
  /* layout */
  display: grid;

  /* box */
  padding: 10px;
  width: 100%;
  height: 10em;

  /* style */
  background-color: #FFF;
  border-bottom: 1px solid #000;
  }
