/**
This css file is for index
Only for index, it has alreaanchored to the index.html
*/

/* Header */
header {
    /* layout */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}

.header-title {
    /* layout */
    place-items: start;
}

.header-btns {
    /* layout */
    place-items: center;
}

.header-navbar {
    /* layout */
    position: absolute;
    bottom: 0;

    /* box */
    width: 100%;
    background-color: #d9d9d9;
}

@media (min-width: 701px) {

    header {
        /* layout */
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
    }

    .header-title {
        /* layout */
        grid-area: 1 / 2 / 2 / 3;
        /* start row / start column / end row / end column */
    }

    .header-btns {
        /* layout */
        grid-area: 2 / 2 / 3 / 3;
    }

    .header-navbar {
        /* layout */
        grid-area: 1 / 1 / 4 / 2;
        position: static;
        background-color: #fff;
    }

}

/* Header-title */
.header-title-items {
    /* font */
    font-size: min(3em, 5vw);
    font-weight: bold;
    color: #000;
}

/* Header-btns */
.header-btns-items {
    /* layout */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}

.header-btns-items-logo {
    /* box */
    width: 50%;
    height: auto;
    padding: 0;
    margin: 2em;
}

.header-btns-items-login {
    /* box */
    width: 90%;
    height: auto;
    padding: 1em;
    margin: 0;

    /* font */
    font-size: min(1.5em, 3vw);
    font-weight: bold;
    color: #fff;

    /* btn */
    border: none;
    border-radius: 50px;
    background-color: #d9d9d9;
}

@media (min-width: 701px) {

    .header-btns-items-login {
        /* box */
        width: 50%;
    }

}

/* Header-navbar */
.header-navbar-nav {
    /* layout */
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /* box */
    padding: 10px 0;
    margin: 0;
    margin-bottom: 10px;
}

.nav-item {
    /* box */
    padding: 0;
    margin: auto;
}

.nav-item-anchor {
    display: inline-block;
}

.nav-items-anchor-icon {
    /* box */
    width: 2em;
    padding: 0;
    margin: auto;
}

.nav-items-anchor-info {
    /* box */
    padding: 0;
    margin: auto;

    /* font */
    font-size: 10px;
}

@media (min-width: 701px) {

    .header-navbar-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
    }

    .nav-items {
        place-items: center;
        padding: auto;
        margin: auto;
    }

}


/* Footer */
footer {
    /* layout */
    display: none;
}

@media (min-width: 701px) {
    footer {
        /* layout */
        display: block;
        position: absolute;
        bottom: 0;
        
        /* box */
        width: 100%;
        background-color: #d9d9d9;
    }

    /* Footer-copyright */
    .footer-copyright {
        /* box */
        padding: 0;
        margin: 1em;
        text-align: end;
    }

    .footer-copyright-anchor {
        /* box */
        padding: 0;
        margin: 0;
    }

    .footer-copyright-anchor-img {
        /* box */
        width: 50px;
    }
}