/**
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
This css file is for login
Only for login, it has already anchored to the profile.html
///////////////////////////////////////////////////////////
About comment:
-----------------------------------------------------------
====Content====
means that under this comment is a big class.
E.g.:
====media query====
@media 1 {}
@media 2 {}
-----------------------------------------------------------
++++Element++++:
means that under this comment are direct child elements.
E.g.:
++++Body++++
<header>
<main>
<nav>
<footer>
///////////////////////////////////////////////////////////
-----------------------------------------------------------
Note: 
The product reference for the mobile screen size is 430px * 932px
-----------------------------------------------------------
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* ====HTML==== */

/* ++++Body++++ */

main {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* style */
  background-image: url("../images/icon/travel.jpg");
  background-size: cover;
  }

.login {
  /* box */
  position: relative;
  top: -10vh;
  padding: 10px;
  background-color: #F5F5F5;
  border-radius: 20px;
  width: min(400px, 100%);
  height: fit-content;
  }

/* ++++Fieldset++++ */
.signupForm,
.loginForm {
  /* layout */
  display: flex;
  }

.login-title {
  /* layout */
  text-align: center;
  /* box */
  margin: 0 50px;
  /* font */
  font-size: 25px;
  font-weight: bold;
  }

.loginForm-item {
  /* box */
  margin: 5px 20px;
  }

.loginForm-btn {
  /* layout */
  display: flex;
  /* box */
  margin-top: 20px;
  }

.loginForm-btn > * {
  /* box */
  flex: 1;
  margin: 0 5px;
  }

/* ====Media Query==== */
@media (max-width: 700px) {
  body {
    /* layout */
    flex-direction: column;
    }

  .background {
    background-position: left;
    }
  }

@media (min-width: 701px) {
  .login {
    /* box */
    width: 400px;
    }

  .background {
    background-position: center;
    }
  }